*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tif
*.tiff
*.npy
*.pkl
*.ipynb
mediapipe/mediapipe_csvs/1-Introduction-SD/
mediapipe/output_vids/*.mp4

accel_*.txt
imu_*.txt
gnd_truth.txt
config.json

data/
*.pth
*.zip

test_results/

*.pyc